/*
    Document:     _helpers.scss
    Created on:   6-mar-2013, 17.09.05
    Author:       Stefano Torresi (http://stefanotorresi.it)
    Description:  Collection of non-semantic classes, kudos to HTML5BP
*/

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Other classes
 */

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.bordered {
  border: 1px solid;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

@each $dir in top right bottom left {
  .no-margin-#{$dir} {
    margin-#{$dir}: 0 !important;
  }
  .no-padding-#{$dir} {
    padding-#{$dir}: 0 !important;
  }
  @each $size in 10 20 30 40 50 75 100 {
    .margin-#{$size} {
      margin: #{$size}px !important;
    }
    .padding-#{$size} {
      padding: #{$size}px !important;
    }
    .margin-#{$dir}-#{$size} {
      margin-#{$dir}: #{$size}px !important;
    }
    .padding-#{$dir}-#{$size} {
      padding-#{$dir}: #{$size}px !important;
    }
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
